.menu-list {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .menu-list h3 {
    text-align: center;
    color: #ff6347;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .menu-list .menu-item {
    background-color: #ffffff; 
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 250px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .menu-list .menu-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
  }
  
  .menu-list .menu-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .menu-list .menu-item {
    width: 520px; /* Ajusté pour inclure les marges et le padding */
}
  
  .menu-list .menu-item div {
    font-size: 1.2rem;
    color: #333; /* Couleur sombre pour le texte */
    margin: 10px 0;
  }
  
  .menu-list .menu-item button {
    background-color: #ff6347; /* Couleur principale */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .menu-list .menu-item button:hover {
    background-color: #e5533d; /* Couleur légèrement plus foncée au survol */
  }
  
  .menu-list .menu-actions {
    text-align: center;
    margin-top: 20px;
  }
  
  .menu-list .menu-actions button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .menu-list .menu-actions button:hover {
    background-color: #e5533d;
  }